
@import url("https://jordan84792.github.io/PlugDJusers.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Squada+One");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
/* ------------------------------ Interface ------------------------------ */

/* Room Icons */

/*.icon {
    background-image: url(https://cdn.tfs-network.com/plug/img/icons.png)
} */

/* Room Icon */

#room-host,
#room-name {
    left: 105px;
}
#room-bar .icon-room {
    top: 6px;
    left: 10px;
}
i.icon.icon-room {
    width: 130px;
    height: 40px;
}
.icon-room {
   background: url(http://i.imgur.com/U5f0EUR.png) no-repeat;
   width: 0px;
   height: 0px;
   background-size: 65%;
 }

/* App-Header */

.app-header{
    background: linear-gradient(to bottom, rgba(152,0,0,1) 0, rgba(53,6,8,1) 100%);
}
#rs-skip-button {
   background: linear-gradient(to bottom, rgba(152,0,0,1) 0, rgba(53,6,8,1) 100%) !important;
}

#history-button{
   background: linear-gradient(to bottom, rgba(152,0,0,1) 0, rgba(53,6,8,1) 100%);
}
#chat-button{
   background: linear-gradient(to bottom, rgba(152,0,0,1) 0, rgba(53,6,8,1) 100%);
}
.button{
  background: linear-gradient(to bottom, rgba(152,0,0,1) 0, rgba(53,6,8,1) 100%);
}
#button .icon.icon-volume-on
#button .icon.icon-volume-off{
  background: none !important;  
}

/* App Header Text */

/*#room-name .bar-value {
    color: white;
    font-weight: bold;
    font-family: 'Luckiest Guy', LuckiestGuy-Regular;} */


/* Chat */

#room .app-right {
    background: linear-gradient(to right, rgba(152,0,0,1) 0, rgba(53,6,8,1) 100%);!important
}
#room .app-right
.cm.log {
    background: linear-gradient(to right, rgba(152,0,0,1) 0, rgba(53,6,8,1) 100%);!important
}
#chat-input-form {
    background: rgba(53,6,8,1); !important
    
    
/* Footer */

#footer {
  background: linear-gradient(to bottom, rgba(152,0,0,1) 0, rgba(53,6,8,1) 100%);
}

    
