/* badges */

#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i,
#user-rollover .info .fromID-22670452 .badge-box i,
#user-rollover .info .id-22670452 .badge-box i, {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    background-position: initial;
    background-repeat: no-repeat !important}
}
               
/* Images Area */

/* Jøґ∂αη†♄εℙαηḓα [22670452] */
#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i 
#user-rollover .info .fromID-22670452 .badge-box i,
#user-rollover .info .id-22670452 .badge-box i, {
    background-image: url(http://i.imgur.com/3E9dL4M.png);
}
