/* badges */
/*  Mǟɖɖɨɛ [5382369] */
#chat-messages .fromID-5382369 .badge-box i,
#chat-messages  .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg

/* Gay Peter Pan [22954907] */
#chat-messages .fromID-22954907 .badge-box i,
#chat-messages  .id-22954907 .badge-box i,
#user-rollover.id-22954907 .badge-box > i.bdg

/* Jøґ∂αη†♄εℙαηḓα [22670452] */
#chat-messages .fromID-22670452 .badge-box i,
#chat-messages  .id-22670452 .badge-box i,
#user-rollover.id-22670452 .badge-box > i.bdg{
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 20px;
    background-position: initial;
    background-repeat: no-repeat !important
}
       
/* Images Area */

/*  Mǟɖɖɨɛ [5382369] */
#chat-messages .fromID-5382369.badge-box i,
#chat-messages .id-5382369.badge-box i,
#user-rollover.id-5382369.badge-box > i.bdg{
    background-image: url(http://i.imgur.com/gN63zbV.png);
} 
/*  Gay Peter Pan [22954907 ] */
#chat-messages .fromID-22954907 .badge-box i,
#chat-messages .id-22954907 .badge-box i,
#user-rollover.id-22954907 .badge-box > i.bdg{
    background-image: url(http://i.imgur.com/dtTGOx7.png);
} 

/* Jøґ∂αη†♄εℙαηḓα [22670452] */
#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i,
#user-rollover.id-22670452 .badge-box > i.bdg{
    background-image: url(http://i.imgur.com/3E9dL4M.png);
} 
