/* This section of code is due to be completely redone */

@import url("https://skillsaura.github.io/users.css");
@import url("https://skillsaura.github.io/staff.css");
@import url("https://skillsaura.github.io/usericons.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

/* Room Background */

.room-background {
    background-image: url(https://i.imgur.com/ig5EkPs.jpg) !important;
}
/* Room Icon */

#room-host,
#room-name {
    left: 105px;
}
#room-bar .icon-room {
    top: 6px;
    left: 10px;
}
i.icon.icon-room {
    width: 130px;
    height: 40px;
}
.icon-room {
    background: url(https://i.imgur.com/U5f0EUR.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 65%;
}
/* Room Name | Hosted By */

#room-bar:hover>#room-host,
#room-bar>#room-name {
    opacity: 0!important;
    transition: opacity .25s !important;
}
#room-bar:hover>#room-name,
#room-bar>#room-host {
    opacity: 1!important;
    transition: opacity .25s !important;
    transition-delay: .25s !important;
}
#room-bar>#room-host, 
#room-bar>#room-name {
    left: 110px;
    top: -2px !important;
    white-space: pre;
    -webkit-animation: glow 1s infinite alternate;
}
@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 35px rgba(250, 250, 250, 1);
    }
}
#room-bar span,
#room-name .bar-value,
#room-host .dark-label,
#room-host .username {
    color: rgb(240, 240, 240);
    font-family: 'Orbitron', Orbitron-Regular;
    font-weight: normal !important;
    font-size: 19px !important;
}
/* App Header */

.app-header {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
}
#rs-skip-button {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%) !important;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
#history-button {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#chat-button {
    border-right: 1px solid black;
    height: 54px;
}
#app-menu.in-room {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
}
.button,
#rcs-progress-container {
    background: none !important;
}
#rcs-progress-container .bar {
    background: linear-gradient(to right, rgba(232, 61, 5, 1) 0, rgba(215, 118, 37, 1) 100%)!important;
    box-shadow: 0 0 10px rgba(200, 48, 2, 1) !important;
}
/* App Header Buttons Selected */

#users-button.header-panel-button.selected,
#waitlist-button.header-panel-button.selected,
#friends-button.header-panel-button.selected,
#rcs-appright-button.header-panel-button.selected,
#chat-button.header-panel-button.selected,
#history-button.selected {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
/* Now playing song | Now playing DJ text edit */

#now-playing-bar > #now-playing-media,
#now-playing-bar > #now-playing-media .bar-value {
    padding: 10px;
    left: -12px;
    top: -25px !important;
    font: normal 15px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
    text-align: left;
    white-space: pre;
}
#now-playing-bar > #now-playing-dj,
#now-playing-bar > #now-playing-dj span {
    padding: 10px;
    left: -10px;
    top: 0px !important;
    font: normal 13px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
    text-align: left;
    white-space: pre;
}
/* Footer */

#footer {
    background: linear-gradient(to bottom, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%)!important;
}
/* Removing Plug Icons */

#your-next-media i,
#your-active-playlist i,
#playback .background,
.icon-current-dj {
    display: none !important;
}
