/* badges */

[data-cid^="22670452-"] i.bdg {
    background: url("http://i.imgur.com/3E9dL4M.png") !important;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    background-position: initial;
    background-repeat: no-repeat !important}
