
@import url("https://jordan84792.github.io/PlugDJusers.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

/* ------------------------------ Interface ------------------------------ */

/* Room Icons */

.icon {
    background-image: url(https://cdn.tfs-network.com/plug/img/icons.png)
}

/* Room Icon */

#room-host,
#room-name {
    left: 105px;
}
#room-bar .icon-room {
    top: 6px;
    left: 10px;
}
i.icon.icon-room {
    width: 130px;
    height: 40px;
}
.icon-room {
    background: url(http://i.imgur.com/U5f0EUR.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 65%;
 }

/* App-Header */

.app-header{
    background-color: rgba(139, 0, 0, 1);
}
#rs-skip-button {
   background-color: rgba(139, 0, 0, 1);
}

#history-button{
    background-color: rgba(139, 0, 0, 1);
}
#chat-button{
   background-color: rgba(139, 0, 0, 1);
}
.button{
   background-color: rgba(139, 0, 0, 1);
}

/* App Header Text */

#room-name .bar-value {
    color: black;
    font-weight: bold;
    font-family: 'Orbitron', Orbitron-Regular;}



/* Footer */

#footer {
  background-color: rgba(139, 0, 0, 1);
}
