
@import url("https://jordan84792.github.io/PlugDJusers.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

/* -------------------- Interface -------------------- */
/* Room Icons */

.icon {
    background-image: url(https://cdn.tfs-network.com/plug/img/icons.png)
}

/* Room Icon */

#room-host,
#room-name {
    left: 105px;
}
#room-bar .icon-room {
    top: 6px;
    left: 10px;
}
i.icon.icon-room {
    width: 130px;
    height: 40px;
}
.icon-room {
    background: url(http://i.imgur.com/U5f0EUR.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 65%;
 }

/* App-Header */

.app-header{
  background: linear-gradient(to bottom, rgba(0, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%),
  url(https://d1yn1kh78jj1rr.cloudfront.net/previews2/greyandwhitepolkadots-05-091815-575.jpg) repeat-x;
}
#rs-skip-button {
   background: linear-gradient(to bottom, rgba(0, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%),
  url(https://d1yn1kh78jj1rr.cloudfront.net/previews2/greyandwhitepolkadots-05-091815-575.jpg) repeat-x;
}

#history-button{
  background: linear-gradient(to bottom, rgba(0, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%),
  url(https://d1yn1kh78jj1rr.cloudfront.net/previews2/greyandwhitepolkadots-05-091815-575.jpg) repeat-x;
}
#chat-button{
  background: linear-gradient(to bottom, rgba(0, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%),
  url(https://d1yn1kh78jj1rr.cloudfront.net/previews2/greyandwhitepolkadots-05-091815-575.jpg) repeat-x;
}
.button{
  background: linear-gradient(to bottom, rgba(0, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%),
  url(https://d1yn1kh78jj1rr.cloudfront.net/previews2/greyandwhitepolkadots-05-091815-575.jpg) repeat-x;
}

/* App Header Text */

#room-name .bar-value {
    color: black;
    font-weight: bold;
    font-family: 'Orbitron', Orbitron-Regular;}
