/* User List Hover */

#user-lists .list .user:hover {
background: linear-gradient(-90deg, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
transform: translate(5px, -5px);
width: initial;
top: 10px;
}
#user-lists .list .user {
top: 10px;
}
#user-lists .list.staff .group{
    background: rgba(53, 6, 8, 0.75) !important;   
}
/* Room Name | Hosted By */

#room-bar:hover>#room-host,
#room-bar>#room-name {
    opacity: 0!important;
    transition: opacity .25s !important;
}
#room-bar:hover>#room-name,
#room-bar>#room-host {
    opacity: 1!important;
    transition: opacity .25s !important;
    transition-delay: .25s !important;
}
#room-bar>#room-host, 
#room-bar>#room-name {
    left: 110px;
    top: -2px !important;
    white-space: pre;
    -webkit-animation: glow 1s infinite alternate;
}
@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 35px rgba(250, 250, 250, 1);
    }
}
#room-bar span,
#room-name .bar-value,
#room-host .dark-label,
#room-host .username {
    color: rgb(240, 240, 240);
    font-family: 'Orbitron', Orbitron-Regular;
    font-weight: normal !important;
    font-size: 19px !important;
}

/* Now playing song | Now playing DJ text edit */

#now-playing-bar > #now-playing-media,
#now-playing-bar > #now-playing-media .bar-value {
    padding: 10px;
    left: -12px;
    top: -25px !important;
    font: normal 15px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
    text-align: left;
    white-space: pre;
}
#now-playing-bar > #now-playing-dj,
#now-playing-bar > #now-playing-dj span {
    padding: 10px;
    left: -10px;
    top: 0px !important;
    font: normal 13px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
    text-align: left;
    white-space: pre;
}
/* Playlist Men | History Menu */

#playlist-button,
#playlist-menu .menu .row.selected,
.media-list .row.now-playing,
.media-list .row.now-playing .actions,
.media-list .row.selected,
.media-list .selected .actions {
    background: linear-gradient(to bottom, rgba(232, 61, 5, 1) 0, rgba(215, 118, 37, 1) 100%)!important;
    box-shadow: 0 0 10px rgba(200, 48, 2, 1)!important;
}
#playlist-edit-button:hover i,
#playlist-activate-button:hover i,
#playlist-shuffle-button:hover i,
#playlist-delete-button:hover i,
#playlist-menu .button:hover i,
.media-list .actions .action.edit:hover .icon, 
.media-list .actions .action.related:hover .icon,
.media-list .actions .action.move-to-bottom:hover .icon,
.media-list .actions .action.move-to-top:hover .icon,
.media-list .actions .action.delete:hover .icon {
    transform: scale(1.2);
}
#search-menu {
    background: rgb(53, 6, 8);
    border-radius: 20px;
}
#search-menu:hover>.selected,
#search-menu .select,
#search-menu li.last {
    background: rgb(53, 6, 8);
}
#search-menu li:hover {
    background: rgb(26, 3, 4);
}
/* Footer Text */

#your-active-playlist span {
    left: 5px !important;
}
#your-next-media span {
    left: 20px !important;
}
#your-active-playlist span,
#your-next-media span {
    top: 18px !important;
    font: normal 16px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
}
#history-panel,
#playlist-panel {
    background:  rgb(53, 6, 8);
    text-shadow: 1px -1px rgb(0, 0, 0);
}
#playlist-menu .title {
    color: rgb(255, 255, 255);
}
#playlist-menu {
    background: rgb(26, 3, 4);
}
#search {
position: relative;
z-index: 9;
background: rgb(53, 6, 8);
width:500px;
height:55px;
}
#search:before {
content: "";
position: absolute;
z-index: -1;
top: 0px;
right: 81.9%;
bottom: 0;
left: 0;
background: rgb(26, 3, 4);
}
.media-list .selected .actions,
.media-list .actions {
    background: rgb(53, 6, 8) !important;   
}
.menu .container .row:hover {
    transform: translate(5px, -5px);    
}
.menu .container .row,
.menu .container .row:hover {
-webkit-transition:     all 0.3s ease;
    -moz-transition:        all 0.3s ease;
    -o-transition:          all 0.3s ease;
    transition:             all 0.3s ease;
}
 #search .menu:hover{
    background: green !important;
}
/* Button/Text Areas */

#chat-input,
#import-youtube .button,
#import-youtube .youtube-input,
#input-room-name,
#playlist-import-panel .button,
#room-info .input-background,
#user-avatars .tab-menu button,
#user-friends .list .row .buttons button,
#user-friends .search,
#user-friends .tab-menu button,
#user-lists .list-header .input-background,
.app-right .friends .list-header .input-background,
.dialog-input-background,
.input-background,
.tab-menu button,
.user-content.profile .meta .blurb .box,
.user-content.profile .meta .blurb input,
#filter-bar,
#search-bar {
    border-radius: 30px;
    background: rgba(53, 6, 8, 1) !important;
}

/* Removing Plug Icons */

#your-next-media i,
#your-active-playlist i,
#playback .background,
.icon-current-dj {
    display: none !important;
}
